<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">The Gossip Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="<%="/home"%>">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%="/team"%>">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%="/contact"%>">Contact</a>
            </li>
          </ul>
      
          <div class="d-flex flex-row-reverse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="<%="/user/new"%>">Sign up</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="<%="/sessions/new"%>">Sign in</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="<%="/dashboard"%>">Dashboard</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" <%=link_to "Logout", session_path(session.id), method: :delete%></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="p-4"></div>
    <h1>Gossip n°<%= @gossip_number.to_i + 1 %></h1><br>
    <h3><%= @gossip.title %></h3><br>
    <p><%= @gossip.content %></p>
    <p>created the : <%= @gossip.created_at.to_date %></p>

    <div class="p-4"></div>
    <p>Written by : <%= @user.first_name %> <%= @user.last_name %></p>
    <p>City : <%= @city.name%> </p>

    <% user_id = @user.id %>
    <a class="btn btn-primary btn-sm" href="<%="/user/#{user_id}"%>" role="button">See this creator</a>

  </body>
</html>
